In [1]:
import pandas as pd

df = pd.read_csv('global_food_prices.csv')

df.head()

C:\Users\johan\AppData\Local\Temp\ipykernel_3076\3405832590.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('global_food_prices.csv')

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [15]:
df.mkt_name.value_counts()

National Average    19748
Bogota               5798
Khujand              5270
Dushanbe             5270
Gharm                5241
                    ...
Faya                    2
Socogim                 2
Vigwagwa                1
Ali Addeh               1
Kalombo                 1
Name: mkt_name, Length: 3235, dtype: int64

In [20]:
df[df.mkt_name == 'National Average']['adm0_name'].value_counts()

Turkey                3407
Nicaragua             2331
Egypt                 2304
Guatemala             2230
Indonesia             1663
Jordan                1309
Ukraine               1125
Kyrgyzstan            1054
Swaziland              932
Bassas da India        775
Honduras               655
Armenia                306
Costa Rica             297
Tajikistan             255
El Salvador            244
Sri Lanka              194
Panama                 174
Azerbaijan             125
South Sudan            118
Bhutan                  78
Dominican Republic      53
Libya                   49
Chad                    41
Lebanon                 13
Iraq                     8
Venezuela                6
Mozambique               2
Name: adm0_name, dtype: int64