# Zen of python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# The Python Programming Language: Types and Sequences

Use `type` to return the object's type.

In [3]:
type("hello")
type(123)

int

In [4]:
type(33 + 5)

int

In [6]:
type(10 * 10)

int

In [8]:
type(100 / 10)

float

In [9]:
7 / 3

2.3333333333333335

In [10]:
7 // 3

2

In [12]:
# exponents
2 ** 3

8

In [13]:
7 % 3

1

In [14]:
"hallo " + "und herzlich willkommen"

'hallo und herzlich willkommen'

In [15]:
"Hallo" * 3

'HalloHalloHallo'

In [17]:
name = "moritz"

In [19]:
name == "alex"

False

In [20]:
name == "moritz"

True

In [23]:
x = 10

x != 100
x == 10

True

In [24]:
x < 10

False

In [28]:
(5 < x < 100)

False

In [40]:
type(number)

str

In [43]:
int("10")

10

In [52]:
number = 100
other_number = int("50") # this is a string
type(other_number)

number < other_number

False

In [64]:
user_input = input()
user_input_int = int(user_input)
type(user_input_int)

int

In [66]:
age = int(input())
if age < 30:
    print("goooosh you are young")
else:
    print("you old man")

goooosh you are young

In [74]:
3 * 4 - 2
3 * (4 - 2)

6

In [76]:
print("this is the number", number)

this is the number 100

# The Python Programming Language: Functions

`add_numbers` is a function that takes two numbers and adds them together.

In [93]:
def add_numbers(x, y):
    return x + y

In [94]:
add_numbers(2,3)

5

Try calling the function using strings

In [96]:
add_numbers('abc','def')

'abcdef'

Now using a 3rd parameter

In [97]:
add_numbers(1,2,3)

TypeError: add_numbers() takes 2 positional arguments but 3 were given

Support an additional parameter

In [99]:
def add_numbers(x, y, z):
    return x + y + z

In [101]:
add_numbers(2,3,5)

10

In [107]:
def add_numbers(x, y, z=5):
    return x+y+z

In [109]:
add_numbers(2,3,0)

5

In [110]:
add_numbers(z=5, x=3, y=2)

10

`add_numbers` updated to take an optional flag parameter. Using `print` allows printing of multiple expressions within a single cell.

In [115]:
def add_numbers(x, y, z=None, flag=False):
    return

add_numbers(1,2)
add_numbers(1,2,3)
add_numbers(1,2,3,4)

Assign function `add_numbers` to variable `a`.

In [121]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print('Flag is true')
    if not z:
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2, flag=True))

Flag is true
3

In [120]:
print(add_numbers(1,2,3, True))

Flag is true
6

In [123]:
x = 3
y = 4

6

# Tuples & Lists

## Lists
Lists are a mutable data structure.

In [130]:
x = 3
y = 4

In [162]:
liste = [100, x, y, 5]
liste

[100, 3, 4, 5]

Use `append` to append an object to a list.

In [157]:
liste.append(6)
liste

[3, 4, 5, 6]

In [159]:
liste.append(1.3)
liste.append('Max')

[3, 4, 5, 6, 'Max', 1.3]

In [161]:
liste[0]  # index bei 0 anfängt zu zählen, liste[1] ist erster eintrag
liste[1] # index bei 0 anfängt zu zählen, liste[1] ist zweiter eintrag

4

In [166]:
liste

[100, 3, 4, 5]

In [165]:
liste[0] * 3

300

This is an example of how to loop through each item in the list.

In [168]:
for item in liste:
    print("list contains value", item)

list contains value 100
list contains value 3
list contains value 4
list contains value 5

In [180]:
liste[:]

[100, 3, 4, 5]

In [171]:
liste[1:] # retrieve all values from index = 1 to end

[3, 4, 5]

In [183]:
liste[1:3] # retrieve all values from index 1 to index 3 (excl.)

[3, 4]

**len()** Für die Anzahl der Einträge

In [185]:
len("das ist ein wort")

16

In [184]:
len(liste)

4

Or using the indexing operator:

Use `+` to concatenate lists.

In [187]:
[1,2] + [3,4] + [5,6] + liste

[1, 2, 3, 4, 5, 6, 100, 3, 4, 5]

Use `*` to repeat lists.

In [188]:
liste * 3

[100, 3, 4, 5, 100, 3, 4, 5, 100, 3, 4, 5]

Use the `in` operator to check if something is inside a list.

In [194]:
# usage of in operator
number_request = int(input())
if number_request in liste:
    print('number occurs', number_request)
else:
    print('list does not contain number', number_request)

number occurs 100

In [196]:
liste.insert(2,-99)

In [198]:
liste.remove(3)

In [203]:
liste[1] = 75 # lists are mutable, i.e. we can overwrite values, and extend the list of items a list contains

In [202]:
liste

[100, 75, 4, 5]

Ab der dritten Stelle bis zum Ende

Von 2ter bis 5ter stelle

Jedes Element in sliced mal 2 rechnen. Ergebnis = [6, 8, 10, 12]

Python way = List comprehension

## Tuples

In [207]:
t = (1, "cat", "red", "blue", True)

In [208]:
t[0] = 33 # a tuple is read-only (i.e. immutable)

TypeError: 'tuple' object does not support item assignment

In [212]:
t[1:3]

('cat', 'red')

In [213]:
'cat' in t

True

In [214]:
'edin' in t

False

In [215]:
for item in t:
    print('tuple contains value', item)

tuple contains value 1
tuple contains value cat
tuple contains value red
tuple contains value blue
tuple contains value True

In [217]:
sammlung = 123, 456
first, second = sammlung

In [218]:
first

123

In [219]:
second

456

In [222]:
x = 3
y = 0
x, y = y, x

In [223]:
print(x,y)

0 3

## Strings
Now let's look at strings. Use bracket notation to slice a string.

In [224]:
letter = "This is a string"
letter[0]

'T'

In [226]:
letter[0:4]

'This'

In [228]:
letter[:7]

'This is'

This will return the last element of the string.

In [229]:
letter[-1]

'g'

This is a slice from the beginning of the string and stopping before the 3rd element.

In [230]:
letter[0:-5]

'This is a s'

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [232]:
letter[3:]

's is a string'

**Concatenate**

In [235]:
firstname="David"
lastname="Mikhael"
fullname = firstname +' '+ lastname
fullname

'David Mikhael'

`in` operator also with strings

In [238]:
'David' in fullname

True

In [240]:
fullname = '{},{}'.format(firstname, lastname)

`split` returns a list of all the words in a string, or a list split on a specific character.

In [242]:
fullname.split(',')

['David', 'Mikhael']

Make sure you convert objects to strings before concatenating.

In [245]:
str(33) + ' ' + 'Max'

'33 Max'

In [246]:
f'His name is {fullname}'

'His name is David,Mikhael'

In [247]:
f'The result of the calculation is {3 * 100}'

'The result of the calculation is 300'

Python has a built in method for convenient string formatting.

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']
                             ))

## Dictionary (aka hashtable)

Iterate over all of the keys:

Iterate over all of the values:

Iterate over all of the items in the list:

## Unpacking

You can unpack a sequence into different variables:

In [ ]:
def values():
    return 1,2

Make sure the number of values you are unpacking matches the number of variables being assigned.

# Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
!cat class_mpg.csv

In [ ]:
import csv

In [ ]:
with open('class_mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

`keys` gives us the column names of our csv.

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

Similarly this is how to find the average hwy fuel economy across all cars.


Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

Convert the timestamp to datetime.

Handy datetime attributes:

`timedelta` is a duration expressing the difference between two dates.

`date.today` returns the current local date.


# The Python Programming Language: Objects and map()

An example of a class in python:

In [ ]:
class Person:
    department = "School"
    
    def set_name(self, new_name):
        self.name = new_name
    def say_name(self):
        print(self.name)

Here's an example of mapping the `min` function between two lists.

Now let's iterate through the map object to see the values.

# The Python Programming Language: Lambda and List Comprehensions

Here's an example of lambda that takes in three parameters and adds the first two.

Let's iterate from 0 to 999 and return the even numbers.

Now the same thing but with list comprehension.

# The Python Programming Language: Numerical Python (NumPy)

In [ ]:
import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

Or just pass in a list directly

Pass in a list of lists to create a multidimensional array.

Use the shape method to find the dimensions of the array. (rows, columns)

`arange` returns evenly spaced values within a given interval.

`reshape` returns an array with the same data with a new shape.

`linspace` returns evenly spaced numbers over a specified interval.

`resize` changes the shape and size of array in-place.

`ones` returns a new array of given shape and type, filled with ones.

`zeros` returns a new array of given shape and type, filled with zeros.

`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

`diag` extracts a diagonal or constructs a diagonal array.

Create an array using repeating list (or see `np.tile`)

Repeat elements of an array using `repeat`.

#### Combining Arrays

Use `vstack` to stack arrays in sequence vertically (row wise).

Use `hstack` to stack arrays in sequence horizontally (column wise).

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

Let's look at transposing arrays. Transposing permutes the dimensions of the array.

The shape of array `z` is `(2,3)` before transposing.

Use `.T` to get the transpose.


The number of rows has swapped with the number of columns.

Use `.dtype` to see the data type of the elements in the array.

Use `.astype` to cast to a specific type.

## Math Functions

Numpy has many built in math functions that can be performed on arrays.

Sum

Max

Min

Mean

Std

`argmax` and `argmin` return the index of the maximum and minimum values in the array.

argmax()

a.argmin()

## Indexing / Slicing

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

Use negatives to count from the back.

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

Let's look at a multidimensional array.

Use bracket notation to slice: `array[row, column]`

And use : to select a range of rows or columns

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

This is a slice of the last row, and only every other element.

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [ ]:
r[r>30] = 100

In [ ]:
r

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
# r2 = 0

Set this slice's values to zero ([:] selects the entire array)

`r` has also been changed!

To avoid this, use `r.copy` to create a copy that will not affect the original array

Now when r_copy is modified, r will not be changed.

### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.


Iterate by row:


Iterate by index:

Iterate by row and index:

Use `zip` to iterate over multiple iterables.