# The Series Data Structure

In [8]:
import pandas as pd
pd.Series?

In [9]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

In [14]:
animals = ['Tiger', 'Bear', 'Moose']
a = pd.Series(animals)

In [15]:
a.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
# with missing values
animals = ['Tiger', 'Bear', None]
pd.Series(animals, index = ['India', 'America', 'Canada'])

India      Tiger
America     Bear
Canada      None
dtype: object

In [12]:
s.index

Index(['Golf', 'Sumo', 'Hockey'], dtype='object')

# Querying a Series

In [18]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)

In [20]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [22]:
s.loc['Golf']

'Scotland'

In [23]:
s.iloc[1]

'Scotland'

In [24]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [25]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [26]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [27]:
# Cricket can exist mulitple times. dictionaries wouldn't allow us to store mulitple value of the same key
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [28]:
all_countries['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [29]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [34]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [33]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [36]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [35]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [37]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [39]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [38]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [40]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [41]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [47]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [48]:
df.loc[:, ['Name','Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

# Dataframe Indexing and Loading

In [49]:
!cat olympics.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [51]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [56]:
df = pd.read_csv('olympics.csv', skiprows=1, index_col= 0)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [57]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [58]:
df['Gold']

Afghanistan (AFG)                                  0
Algeria (ALG)                                      5
Argentina (ARG)                                   18
Armenia (ARM)                                      1
Australasia (ANZ) [ANZ]                            3
                                                ...
Independent Olympic Participants (IOP) [IOP]       0
Zambia (ZAM) [ZAM]                                 0
Zimbabwe (ZIM) [ZIM]                               3
Mixed team (ZZX) [ZZX]                             8
Totals                                          4809
Name: Gold, Length: 147, dtype: int64

# Querying a DataFrame

In [59]:
df['Gold'] > 0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
                                                ...
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool

In [62]:
has_gold = df.where(df['Gold']>0)
has_gold['Gold'].count()

100

In [63]:
has_gold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia (ZAM) [ZAM],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

In [65]:
only_gold = has_gold.dropna()
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

# Indexing Dataframes

In [67]:
df['country'] = df.index
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [73]:
df_index_gold = df.set_index('Gold')

In [78]:
df_index_country = df.set_index('country')

In [80]:
df_index_country

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
country,,,,,,,,,,,,,,,
Afghanistan (AFG),0,13,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),5,12,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),18,23,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),1,5,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],3,2,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],0,1,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],0,12,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],3,12,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],8,3,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [79]:
df_index_gold

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
3,12,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
8,3,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [71]:
# does not update the df in place
df = df.set_index('Gold')
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [69]:
df.loc[0]

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
0,17,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
0,3,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
0,1,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
0,12,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
0,9,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
0,7,0,1,1,0,0,0,0,0,7,0,0,1,1,Djibouti (DJI) [B]
0,4,0,1,1,0,0,0,0,0,4,0,0,1,1,Eritrea (ERI)
0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Gabon (GAB)
0,13,1,3,4,1,0,0,0,0,14,0,1,3,4,Ghana (GHA) [GHA]
0,13,1,0,1,1,0,0,0,0,14,0,1,0,1,Guatemala (GUA)
0,16,0,1,1,0,0,0,0,0,16,0,0,1,1,Guyana (GUY) [GUY]
0,14,1,1,2,0,0,0,0,0,14,0,1,1,2,Haiti (HAI) [J]
0,19,2,2,4,17,0,0,0,0,36,0,2,2,4,Iceland (ISL)
0,13,0,1,1,0,0,0,0,0,13,0,0,1,1,Iraq (IRQ)
0,12,0,2,2,0,0,0,0,0,12,0,0,2,2,Kuwait (KUW)
0,5,1,2,3,6,0,0,0,0,11,0,1,2,3,Kyrgyzstan (KGZ)
0,16,2,2,4,16,0,0,0,0,32,0,2,2,4,Lebanon (LIB)
0,16,0,0,0,18,2,2,5,9,34,2,2,5,9,Liechtenstein (LIE)
0,5,0,1,1,5,0,0,0,0,10,0,0,1,1,Macedonia (MKD)
0,12,3,3,6,0,0,0,0,0,12,0,3,3,6,Malaysia (MAS) [MAS]
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Mauritius (MRI)
0,5,2,5,7,6,0,0,0,0,11,0,2,5,7,Moldova (MDA)
0,2,1,0,1,2,0,0,0,0,4,0,1,0,1,Montenegro (MNE)
0,6,4,0,4,0,0,0,0,0,6,0,4,0,4,Namibia (NAM)
0,13,1,0,1,2,0,0,0,0,15,0,1,0,1,Netherlands Antilles (AHO) [AHO] [I]
0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Niger (NIG)
0,11,1,0,1,1,0,0,0,0,12,0,1,0,1,Paraguay (PAR)
0,20,2,7,9,4,0,0,0,0,24,0,2,7,9,Philippines (PHI)
0,17,2,6,8,6,0,0,0,0,23,0,2,6,8,Puerto Rico (PUR)
0,8,0,4,4,0,0,0,0,0,8,0,0,4,4,Qatar (QAT)
0,10,1,2,3,0,0,0,0,0,10,0,1,2,3,Saudi Arabia (KSA)
0,13,1,0,1,5,0,0,0,0,18,0,1,0,1,Senegal (SEN)
0,15,2,2,4,0,0,0,0,0,15,0,2,2,4,Singapore (SIN)
0,16,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
0,5,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
0,12,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
0,9,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
0,8,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
0,14,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
0,11,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]

In [72]:
df = df.reset_index()
df.head()

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

# Missing values

In [ ]:
df.fillna?