# Python warm up

To refresh your knowledge in preparation for today's lecture, we'll quickly review Python's built-in, general-purpose "container" data types: **list**, **tuple**, **range**, **set** and **dict**. We'll use a number of the common *sequence operations* as we go.

## Sequence Types

First, let us recall that the most primitive form of **sequence** is the *string*. The string object is, in fact, an *immutable sequence* of unicode characters:

In [1]:
magicWord = 'abracadabra'

# Note the escaped single quote \' in the string handed to print()
# len() returns the length of a sequence
print('Today\'s magic word "{0}" has {1} characters.'.format(magicWord, len(magicWord)))

Today's magic word "abracadabra" has 11 characters.

Like all sequence types, strings support element indexer [i] and slicer [i:j:k] operations

In [2]:
magicWord[0] # Recall: indexers begin with 0. Consequently, the first element in the sequence is retrieved with [0]

'a'

In [3]:
magicWord[-4:-2] # Recall: we use negative indexes to access elements starting from the end of the sequence

'ab'

**Exercise:** Extract the word 'cadabra'.

In [4]:
cadabra = magicWord[4:]

_**Question**_: What is the *third parameter* in the slicer operation good for?

In [5]:
#What is good for?
cadabra[::2]

'cdba'

We use the **step** parameter to specify the *interval* of the slice operation. In the above example, we select every third item in our string, **start**ing with the second character (index 1!) and **stop**ping at the 11th character (index 10).

String supports all the common sequence functions like x in s, len(), count(x), min(), max(), index(i) and the overloaded operaters + and * for concatenation and repetition, respectively: e.g.

**Exercise:** Duplicate our _magic_ word 10 times.

In [6]:
# ten times the magic!
magicWordTenTime = magicWord * 10
magicWordTenTime

'abracadabraabracadabraabracadabraabracadabraabracadabraabracadabraabracadabraabracadabraabracadabraabracadabra'

**Exercise:** Check whether the word cadabra does appear in our magic word.

In [7]:
#look for cadabra in our magic word
'cadabra' in magicWord

True

### Tuples

**Tuples are immutable sequences** typically used to store *heterogeneous* data. Tuples are enclosed in parentheses: **( )**.

Can we turn our magicWord string into a tuple?

Yes we can! We pass it to the **tuple()** constructor.

**Exercise:** Convert our magicWord into a _tuple_

In [8]:
magicTuple = tuple(magicWord)
magicTuple

('a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a')

**Question:** Can we make changes to our tuple?

In [9]:
#Try to edit our Tuple
magicTuple[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [10]:
#Any idea on how we could expand our tuple
magicList = list(magicWord)

In [12]:
# ABBA
magicList.append('ABBA')
magicList

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a', 'ABBA', 'ABBA']

In [13]:
cat = ('Cosmo', 'British shorthair', 'black', 3.5)
cat

('Cosmo', 'British shorthair', 'black', 3.5)

**Note**: the *parentheses* in the printed output tell you that cat is a tuple. Use the **type()** function to confirm what kind of object our cat is:

In [14]:
#your code below.
type(cat)

tuple

How would you return the *name* of our cat?

In [16]:
# your code below. Hint: index 
cat[2]

'black'

**Question**: what is the problem or inconvenience of using the tuple[i] operation?

There must be a better way! And there is...

In [17]:
#create a cat object based on a namedtuple, 'Animal' to store attributes for Name, Type, Colour and Weight

In [18]:
import collections

In [20]:
cat_tuple = collections.namedtuple('Animal', ['Name', 'Type', 'Color','Weight'])

In [21]:
type(cat_tuple)

type

In [22]:
mycat = cat_tuple('Cosmo', 'British', 'black', 2.5)
mycat

Animal(Name='Cosmo', Type='British', Color='black', Weight=2.5)

Now, with a named tuple we can use the "dot" syntax on the object to retrieve any of its elements, e.g.

In [23]:
mycat.Name

'Cosmo'

In [24]:
mycat.Color

'black'

In [25]:
manuelas_cat = cat_tuple('Rocky', 'Housecat', 'black-white', 5)

In [26]:
manuelas_cat

Animal(Name='Rocky', Type='Housecat', Color='black-white', Weight=5)

In [28]:
mycat

Animal(Name='Cosmo', Type='British', Color='black', Weight=2.5)

In [38]:
if manuelas_cat.Weight > mycat.Weight:
    print('Manuelas Cat is bigger')

Manuelas Cat is bigger

What colour is Cosmo? And what type of cat is he?

In [ ]:
# your code below.

We can't change our cat object because its a tuple. We could, however, convert it into a dictionary:

In [29]:
mycat.Name = 'Ferdinand'

AttributeError: can't set attribute

**Exercise:** Convert our cat into a dictionary

In [30]:
#Conversion
mycat_dict = mycat._asdict()
mycat_dict

OrderedDict([('Name', 'Cosmo'),
             ('Type', 'British'),
             ('Color', 'black'),
             ('Weight', 2.5)])

In [31]:
mycat_dict['Name']

'Cosmo'

In [32]:
mycat_dict['Owner'] = 'Moh'

In [35]:
mycat_dict['lives'] = 30

In [36]:
mycat_dict

OrderedDict([('Name', 'Cosmo'),
             ('Type', 'British'),
             ('Color', 'black'),
             ('Weight', 2.5),
             ('Owner', 'Moh'),
             ('length', 30),
             ('lives', 30)])

**Exercise:** Add an Owner and Colour to our dictionary.

In [ ]:
# Add owner and colour

### Lists

**Lists are mutable sequences** typically used to store *homogenous* data. Lists are enclosed in square brackets: **[ ]**.

You can use [] to create an empty list.

A string can also be cast to a list using the **list()** constructor:

**Exercise:** Convert our magicWord into a list

In [39]:
magicWord

'abracadabra'

In [40]:
# Convert
magicList = list(magicWord)
magicList

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

**Exercise:** You can sort the items in the list using the **sort()** - function:

In [42]:
magicList.sort()
magicList

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'c', 'd', 'r', 'r']

**Question:** How many times does the letter a appear in our list?

In [45]:
counter = 0
for letter in magicList:
    if letter == 'a':
        counter = counter +1
counter

5

In [46]:
magicList.count('a')

5

In [49]:
len([letter for letter in magicList if letter == 'a'])

5

Unlike tuples, which are immutable, we can make changes to a list. *Lists are mutable objects*. To add elements to a list, use the **append()** or **insert()** functions

**Exercise: Add an Z to the beginning and an X to the end**

In [51]:
## magicList
magicList.append('X')
magicList

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'c', 'd', 'r', 'r', 'X']

In [53]:
magicList.insert(0, 'Z')
magicList.insert(3, 'Z')
magicList

['Z', 'Z', 'a', 'Z', 'a', 'a', 'a', 'a', 'b', 'b', 'c', 'd', 'r', 'r', 'X']

**Exercise:** Given a string "hocus pocus", append each character in this string to the magicList using the iterator pattern

In [54]:
hocus_pocus = list("hocus pocus")

In [55]:
for item in hocus_pocus:
    magicList.append(item)
    
magicList.extend(hocus_pocus)

['Z',
 'Z',
 'a',
 'Z',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'c',
 'd',
 'r',
 'r',
 'X',
 'h',
 'o',
 'c',
 'u',
 's',
 ' ',
 'p',
 'o',
 'c',
 'u',
 's']

To remove elements from a list we can use **del()** with an *index*, **remove()** with a *value* or **pop()** to *remove and return* an element.

In [64]:
liste = list(magicWord)
liste

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [65]:
liste.pop()
liste.pop()
liste.pop()
liste

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a']

In [66]:
#delete the last 3 items using del
# changedList = None
del liste[0]
liste

['b', 'r', 'a', 'c', 'a', 'd', 'a']

In [70]:
del liste[-3:]
liste

['b', 'r', 'a', 'c']

We can combine del with a slicer to delete a range of values.

In [71]:
#remove the b from the list
del liste[1:3]
liste

['b', 'c']

To *remove all elements* we could use the slicer with no start and stop indexes: [:] or, more simply, the **clear()** function

In [74]:
del magicList[:]

In [75]:
magicList

[]

In [78]:
liste.clear()
liste

[]

### Ranges

A **range** is an *immutable ordered sequence of numeric elements*.
To create a range object we use the **range(start, stop, step)** function, whereby the start and step parameters are optional:

In [79]:
r = range(10)
r

range(0, 10)

In [80]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
numbers = list(range(0,24,2))
numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [83]:
l2 = list(range(0,25,1))
[item for item in l2 if item %2 ==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Tip: We can use a **list comprehension** to iterate over the range sequence, additionally defining a predicate to select only even numbered elements

In [ ]:
#print every even number in the list
# HINT: FOR IN?

## Mapping Types

### Dictionaries

A **dictionary** is a *mutable, unordered table which maps hashable keys to arbitrary values*.

**dict.keys()** returns a live dictionaryview object of the dictionary's keys, **dict.values()** returns a view of the values and **dict.items()** returns a view of (k:v) pairs as a list of 2-tuples which can be accessed using k and v elements.

The key:value pairs of a dict object are enclosed in curly braces, **{ }**.

Let us take the following dictionary containing the favourite sports of each country

In [84]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Ski': 'Austria',
          'Drinking Beer': 'Austria',
          'Taekwondo': 'South Korea'}

In [85]:
sports['Golf']

'Scotland'

Display only the sports in the dataset

In [86]:
# Hint. Ask yourself, are the sports used as the key or value in the dictionary?
sports.keys()

dict_keys(['Archery', 'Golf', 'Sumo', 'Ski', 'Drinking Beer', 'Taekwondo'])

Display only countries in the dataset

In [87]:
# Hint. Ask yourself, are the countries used as the key or value in the dictionary?
sports.values()

dict_values(['Bhutan', 'Scotland', 'Japan', 'Austria', 'Austria', 'South Korea'])

Again, and this time, please remove the duplicates.

In [88]:
#Hint. What convenient container type swallows duplicates to return only distinct values?
set(sports.values())

{'Austria', 'Bhutan', 'Japan', 'Scotland', 'South Korea'}

Show us which country loves to play Golf:

In [89]:
sports['Golf']

'Scotland'

In [90]:
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Ski': 'Austria',
 'Drinking Beer': 'Austria',
 'Taekwondo': 'South Korea'}

What are the favourite sports of Austria?

In [ ]:
# Hint: define a list comprehension using the dictionary view object returned by items() and filter on the v elements

In [92]:
sports.keys()

dict_keys(['Archery', 'Golf', 'Sumo', 'Ski', 'Drinking Beer', 'Taekwondo'])

In [96]:
sports['Golf']

'Scotland'

In [99]:
for key in sports.keys():
    country = sports[key]
    hobby = key
    if country == 'Austria':
        print('Austria loves ' + hobby)

Austria loves Ski
Austria loves Drinking Beer

In [104]:
[key for key in sports.items()]

[('Archery', 'Bhutan'),
 ('Golf', 'Scotland'),
 ('Sumo', 'Japan'),
 ('Ski', 'Austria'),
 ('Drinking Beer', 'Austria'),
 ('Taekwondo', 'South Korea')]

In [109]:
[key for key, value in sports.items() if value == 'Austria']

['Ski', 'Drinking Beer']

It appears that we have an error in our data set. Could you please clean the data?

In [110]:
del sports['Drinking Beer']
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Ski': 'Austria',
 'Taekwondo': 'South Korea'}

It seems like we forgot to add some data to our set. Would you please add the following pairs to the dictionary: USA = Football, India = Cricket, Baseball = Venezuela

In [112]:
sports['Football'] = 'USA'
sports['Cricket'] = 'India'
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Ski': 'Austria',
 'Taekwondo': 'South Korea',
 'Football': 'USA',
 'Cricket': 'India'}

Other sports we need to add.

In [113]:
other_sports = {'Soccer': 'Spain',
          'Golf': 'Scotland',
          'Baseball': 'USA',
          'Ski': 'Canada'}

In [115]:
sports.update(other_sports)
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Ski': 'Canada',
 'Taekwondo': 'South Korea',
 'Football': 'USA',
 'Cricket': 'India',
 'Soccer': 'Spain',
 'Baseball': 'USA'}

Oops, now it seems like we need to figure out a different dataset in order to combine this. Any ideas?

In [123]:
# Combine the DataSet 
sports['Ski'] = [] # Austria', 'Canada']
sports['Ski'].append('Austria')
sports['Ski'].append('Canada')
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Ski': ['Austria', 'Canada'],
 'Taekwondo': 'South Korea',
 'Football': 'USA',
 'Cricket': 'India',
 'Soccer': 'Spain',
 'Baseball': 'USA'}

In [122]:
# ->fails because sports['baseball'] is a string
sports['Baseball'].append('asdads')

AttributeError: 'str' object has no attribute 'append'

In [120]:
sports['Ski'].extend(['Norway', 'Sweden'])
sports

{'Archery': 'Bhutan',
 'Golf': 'Scotland',
 'Sumo': 'Japan',
 'Ski': ['Austria', 'Canada', 'Norway', 'Sweden'],
 'Taekwondo': 'South Korea',
 'Football': 'USA',
 'Cricket': 'India',
 'Soccer': 'Spain',
 'Baseball': 'USA'}

In [126]:
#globals()

In [133]:
x = 100
def foo():
    x = 5
    return locals()
print(foo())
print(x)

{'x': 5}
100

In [134]:
def bar(x):
    x = 100
z = 10
bar(z)
z

10

In [138]:
def edit(entries):
    #entries.append('new')
    entries = ['funny']
    
items = ['old_1', 'old_2']
edit(items)
items

['old_1', 'old_2']

## Lambda

You may have seen the keyword lambda appear in this week's content, and you'll certainly see it appear more as you spend more and more time with Python and data science. Lambda's are Python's way of creating anonymous functions. These are the same as other functions, but they have no name. The intent is that they're simple or short lived and it's easier just to write out the function in one line instead of going to the trouble of creating a named function.

The lambda syntax is fairly simple. But it might take a bit of time to get used to.

In [ ]:
# You declare a lambda function with the word lambda followed by a list of arguments, 
# followed by a colon and then a single expression and this is key. 
# There's only one expression to be evaluated in a lambda. 
# The expression value is returned on execution of the lambda. 
# The return of a lambda is a function reference. 
# So in this case, you would execute my_function and pass in three different parameters. 
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

Note that you can't have default values for lambda parameters and you can't have complex logic inside of the lambda itself because you're limited to a single expression.

Convert this to lambda

In [1]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

In [5]:
for person in people:
    print(split_title_and_name(person))

Dr. Brooks
Dr. Collins-Thompson
Dr. Vydiswaran
Dr. Romero

## List comprehension

Redefine our times_tables in a list comprehension

In [ ]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [???]

Here's a harder question which brings a few things together.

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user.

Write an initialisation line as single list comprehension which creates a list of all possible user ids. Assume letters are all lower case

In [ ]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [???]
correct_answer == answer

## Numpy

Numpy is a package widely used in the data science community which lets us work efficiently with arrays and matrices in Python.

In [ ]:
#First, let's import Numpy as np.

Now let's make our first array. We can start by creating a list and converting it to an array.

In [ ]:
#Create a python list of numbers

With **np.array()** you can convert a list to a numpy array

In [ ]:
#Convert your list to a numpy array

We can do it more succinctly by passing the list directly.

In [ ]:
# pass list directly to the np.array method

Now let's make multidimensional arrays by passing in a list of lists. (Matrices). We pass in two lists with three elements each, and we get a two by three array.

In [ ]:
# np.array with 2 lists

We can check the dimensions by using the **shape** attribute.

In [ ]:
#check with shape

For the **arange** function, we pass in a start, a stop, and a step size, and it returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0,30,2)
n

So suppose we wanted to convert this array of numbers to a three by five array. We can use reshape to do that.

In [ ]:
#reshape (3,5)

Use **resize** to change the size of our array

In [ ]:
#resize

**ones()** to return a matrix of ones. 
**zeros()** for zeros.
**eye()** for Identity Matrix

In [ ]:
# call ones

You can use the times-operator **\*** to replicate items or use repeat to repeat.

In [ ]:
#Replicate using *

### Operations

Performing elementwise addition, subtraction, multiplication, and division is straightforward, as is raising all the numbers of an array to a power.

In [ ]:
x = np.array([[1, 2, 3] * 2 ,[4, 5, 6]* 2] *2)
#try out different operations

For those familiar with linear algebra, the dot product can be done using the dot function. We can also take the transpose of an array using the t method, which swaps the rows and columns.

In [ ]:
# calculate a dot product and transpose

Numpy also has many useful math functions that we can use. Let's look at a few commonly used ones.

In [ ]:
#Create an array of random values using numpy.random.rand()

We can look the sum of the values in the array, the maximum and minimum, Or the mean and standard deviation.

In [ ]:
#try them out

To find the index of a maximum or minimum value, we can use argmax and argmin.

In [ ]:
#

#### Indexing and slicing just like with tuples and lists

In [ ]:
r = np.arange(36)
r.resize([6,6])
print(r)

Get the value of the 2nd row and 2nd column

Now let's use colon notation to get a slice of the third row and columns three to six. We can also do something like get the first two rows and all of the columns except the last.

Try out the '<' or '>' operator and figure out what happens

In [ ]:
#reassign any value bigger 30