


# Zen of python

In [ ]:
import this

# The Python Programming Language: Functions

In [ ]:
x = 123
x = x+3
print(x)

In [ ]:
x = 1
y = 2
x + y

text ="Hallo "

text + str(45)

In [ ]:
x

`add_numbers` is a function that takes two numbers and adds them together.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 1)

`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y=None,z=None):
    return

print(add_numbers(1))
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print('Flag is true!')
    if not z:
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

# The Python Programming Language: Types and Sequences

Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

# Tuples & Lists

## Lists
Lists are a mutable data structure.

In [ ]:
liste = []

In [ ]:
liste

In [ ]:
liste = [1,'a',2,'b']
liste

Use `append` to append an object to a list.

In [ ]:
liste.append('neu')

In [ ]:
print(liste)

In [ ]:
liste[4] = 3

In [ ]:
liste

This is an example of how to loop through each item in the list.

In [ ]:
for item in liste:
    print(item * 2)

In [ ]:
liste[:]

In [ ]:
liste[:2]

**len()** Für die Anzahl der Einträge

In [ ]:
len(liste)

Or using the indexing operator:

In [ ]:
i=0
while i != len(liste):
    print(i)
    i = i+1

Use `+` to concatenate lists.

In [ ]:
liste = [1,2] + [3,4] +[5,6]
liste

Use `*` to repeat lists.

In [ ]:
doppelt = liste * 2
doppelt

In [ ]:
for item in liste:
    if item == 1:
        print(True)

Use the `in` operator to check if something is inside a list.

In [ ]:
1 in liste

In [ ]:
gesuchte_zahl = 3

In [ ]:
gesuchte_zahl in liste

Ab der dritten Stelle bis zum Ende

In [ ]:
liste[2:]

Von 2ter bis 5ter stelle

In [ ]:
liste[1:4]

In [ ]:
sliced = liste[2:]

In [ ]:
sliced

Jedes Element in sliced mal 2 rechnen. Ergebnis = [6, 8, 10, 12]

In [ ]:
sliced * 2

In [ ]:
for item in sliced:
    print(item * 2)

In [ ]:
ergebnis = [] # ergebnis = list()
for item in sliced:
    ergebnis.append(item*2)
ergebnis

Python way = List comprehension

In [ ]:
ergebnis = [item * 2 for item in sliced]
ergebnis

## Tuples

In [ ]:
t = (1, "cat")

In [ ]:
t

In [ ]:
fish = (1,2,"red","blue")
fish

In [ ]:
fish[:2]

In [ ]:
"red" in fish

In [ ]:
sammlung = 123, 456, "hallo", "ab"
sammlung

In [ ]:
element = "flasche"

In [ ]:
sammlung = 1,2,element
sammlung

In [ ]:
def val():
    return "a","b"
_, b = val()
b

## Strings
Now let's look at strings. Use bracket notation to slice a string.

In [ ]:
letter = "This is a string"

This will return the last element of the string.

In [ ]:
print(letter[0])
print(letter[0:2])
print(letter[0:4])

This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
letter[:4]

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [ ]:
letter[5:]

**Concatenate**

In [ ]:
firstname = 'Kerim'
lastname = 'Ibrahim'
fullname = firstname + "," + lastname
fullname

`in` operator also with strings

In [ ]:
"Kerim" in fullname

`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
names = fullname.split(',')
names

In [ ]:
names[0]

In [ ]:
names[1]

Make sure you convert objects to strings before concatenating.

In [ ]:
firstname + lastname + 5

In [ ]:
firstname + lastname + str(42)

Python has a built in method for convenient string formatting.

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought{} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']
                             ))

## Dictionary (aka hashtable)

In [ ]:
lastname.__hash__()

In [ ]:
person = {
    "Bill Gates" : "b.gates@ms.com",
    "Ali Baba": "ali@baba.com",
    "Heel Robin": "robin@fhwn.ac.at",
    "Bill Gates" : "mail"
}

In [ ]:
person["Ali Baba"]

In [ ]:
person["Heel Robin"]

In [ ]:
person["Bill Gates"]

In [ ]:
person_info = {"Name": "Patrick", "Alter": 23, "Sex":"m"}

In [ ]:
person_info['Name']

In [ ]:
person_info['Alter']

In [ ]:
person_info['Name'] = 'Stefan'

In [ ]:
person_info

Iterate over all of the keys:

In [ ]:
for key in person_info:
    print(key)

Iterate over all of the values:

In [ ]:
for key in person_info:
    print(key)
    print(person_info[key])

Iterate over all of the items in the list:

In [ ]:
person_info.items()

In [ ]:
for key, value in person.items():
    print(value)

In [ ]:
shopping_list = {"apples": 2, "avocados":3, "beer": 100}

In [ ]:
shopping_list["beer"]

In [ ]:
shopping_list["chips"] = 20

In [ ]:
shopping_list.values()

In [ ]:
sum(shopping_list.values())

In [ ]:
shopping_list["beer"] = shopping_list["beer"] * 100

In [ ]:
shopping_list

In [ ]:
[item for item in shopping_list.keys()]

## Unpacking

You can unpack a sequence into different variables:

In [ ]:
def values():
    return 1,2

Make sure the number of values you are unpacking matches the number of variables being assigned.

# Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
!cat class_mpg.csv

In [ ]:
import csv

In [ ]:
with open('class_mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

`keys` gives us the column names of our csv.

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

Similarly this is how to find the average hwy fuel economy across all cars.


Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [ ]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

#CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

In [ ]:
vehicleclass = set([row['class'] for row in mpg])
vehicleclass

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

# The Python Programming Language: Dates and Times

In [1]:
import datetime as dt
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

Convert the timestamp to datetime.

Handy datetime attributes:

`timedelta` is a duration expressing the difference between two dates.

`date.today` returns the current local date.


# The Python Programming Language: Objects and map()

An example of a class in python:

In [38]:
class Person:
    department = "School"
    
    def set_name(self, new_name):
        self.name = new_name
    def add_weapon(self, weapon):
        self.weapon = weapon
    def fight(self, p):
        if p.weapon == 'Schere':
            print('I am dead')
    def say_name(self):
        print("Hi, my name is "+self.name)
class Game():
    def set_player(p1,p2):
        self.p1 = p1
        self.p2 = p2
    def play():
        p1.weapon beats p2.weapon???

In [44]:
mylist = list()
mylist.append('a')
mylist

['a']

In [46]:
mylist_2 = list()
mylist_2.append('x')
mylist_2

['x']

In [39]:
player = Person()
player.set_name('Max')
player.add_weapon('Schere')

In [42]:
player_2 = Person()
player_2.add_weapon('Papier')
player.fight(player_2)

In [9]:
student = Person()

In [10]:
student.set_name('max')

In [11]:
student.name

'max'

In [12]:
student.say_name()

Hi, my name is max

In [14]:
teacher = Person()
teacher.set_name('Markus')
teacher.say_name()

Hi, my name is Markus

In [16]:
(teacher.name, student.name)

('Markus', 'max')

In [17]:
teacher.department

'School'

In [18]:
student.department

'School'

In [20]:
student.name = 'Michael'

In [21]:
student.name

'Michael'

In [23]:
teacher.name

'Markus'

In [26]:
Person.department = 'University'

In [27]:
teacher.department

'University'

In [30]:
student.department

'University'

In [31]:
student.name

'Michael'

In [32]:
teacher.name

'Markus'

In [33]:
Person.name

AttributeError: type object 'Person' has no attribute 'name'

Here's an example of mapping the `min` function between two lists.

In [9]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
    
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [10]:
claus = Dog('claus')
karl = Dog('karl')

In [11]:
claus.teach_trick('jumping')

In [12]:
claus.tricks

['jumping']

In [14]:
claus.teach_trick('rolling')

In [15]:
claus.tricks

['jumping', 'rolling']

In [16]:
karl.tricks

['jumping', 'rolling']

In [4]:
helmut = Dog()

TypeError: __init__() missing 1 required positional argument: 'name'

In [27]:
class Cat:
    
    def __init__(self, name):
        self.name = name
        self.tricks = []
    
    def teach_trick(self, trick):
        self.tricks.append(trick)
        
    def get_number_tricks(self):
        return len(self.tricks)

In [ ]:
lisa > margot

In [28]:
lisa = Cat('Lisa')
lisa.teach_trick('give 5')

In [29]:
margot = Cat('Margot')
margot.teach_trick('eat pizza')

In [30]:
lisa.tricks

['give 5']

In [32]:
margot.get_number_tricks()

1

In [33]:
margot.teach_trick('drink coffee')

In [34]:
margot.get_number_tricks()

2

In [35]:
lisa.get_number_tricks()

1

In [43]:
def get_better_cat(cat_1, cat_2):
    if cat_1.get_number_tricks() > cat_2.get_number_tricks():
        return cat_1
    else:
        return cat_2

In [48]:
lisa.teach_trick('dance')
lisa.teach_trick('sing')

In [49]:
better_cat = get_better_cat(margot, lisa)
print('Our better Cat is ' + better_cat.name +' and she got ' + str(better_cat.get_number_tricks()) + ' tricks')

Our better Cat is Lisa and she got 3 tricks

In [163]:
class Player:
    def __init__(self, name, weapon='Paper'):
        self.name = name
        self.weapon = weapon

In [164]:
f = float(3)
str(f) # f.__str__()

'3.0'

In [162]:
class Game:
    def __init__(self, player_one, player_two):
        self.__player_one = player_one
        self.__player_two = player_two
        
    def fight(self):
        if self.__player_one.weapon == 'Rock' and self.__player_two.weapon == 'Rock':
            print('draw')

In [125]:
# player_one = Player('Stefan') default paper
player_one = Player('Stefan', 'Rock')
player_one.weapon

'Rock'

In [159]:

player_one.weapon =  float(3)

In [156]:
player_one = Player('Stefan', weapon= 'Rock')
player_two = Player('Charles', weapon= 'Paper')

In [157]:
game = Game(player_one, player_two)
player_two.weapon = 'Rock'

In [158]:
game.fight()

draw

In [161]:
game.__player_one = None

In [165]:
x = list()
x.append('hallo')

In [166]:
y = x

In [167]:
y

['hallo']

In [169]:
x.append('bye')

In [170]:
y

['hallo', 'bye']

In [171]:
x

['hallo', 'bye']

In [172]:
min(2,3)

2

In [173]:
max(2,3)

3

In [179]:
price_list = [10, 12, 13, 14]
price_list_2 = [11, 22, 9, 10]
price_list_3 = [0,10,13]

In [180]:
cheapest = map(min, price_list, price_list_2, price_list_3)

In [181]:
for item in cheapest:
    print(item)

0
10
9

Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

# The Python Programming Language: Lambda and List Comprehensions

Here's an example of lambda that takes in three parameters and adds the first two.

In [184]:
my_func = lambda a,b: a+b

In [1]:
def add(a,b):
    return a+b

In [185]:
my_func

In [186]:
my_func(3,5)

8

Let's iterate from 0 to 999 and return the even numbers.

In [187]:
r = range(0, 1000)

In [188]:
lambda_list = filter(lambda x: x % 2 == 0, r)

In [189]:
for item in lambda_list:
    print(item)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998

Now the same thing but with list comprehension.

In [190]:
even_nr = [num for num in r if num % 2 ==0]
even_nr

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

# The Python Programming Language: Numerical Python (NumPy)

In [ ]:
import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

Or just pass in a list directly

Pass in a list of lists to create a multidimensional array.

Use the shape method to find the dimensions of the array. (rows, columns)

`arange` returns evenly spaced values within a given interval.

`reshape` returns an array with the same data with a new shape.

`linspace` returns evenly spaced numbers over a specified interval.

`resize` changes the shape and size of array in-place.

`ones` returns a new array of given shape and type, filled with ones.

`zeros` returns a new array of given shape and type, filled with zeros.

`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

`diag` extracts a diagonal or constructs a diagonal array.

Create an array using repeating list (or see `np.tile`)

Repeat elements of an array using `repeat`.

#### Combining Arrays

Use `vstack` to stack arrays in sequence vertically (row wise).

Use `hstack` to stack arrays in sequence horizontally (column wise).

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

Let's look at transposing arrays. Transposing permutes the dimensions of the array.

The shape of array `z` is `(2,3)` before transposing.

Use `.T` to get the transpose.


The number of rows has swapped with the number of columns.

Use `.dtype` to see the data type of the elements in the array.

Use `.astype` to cast to a specific type.

## Math Functions

Numpy has many built in math functions that can be performed on arrays.

Sum

Max

Min

Mean

Std

`argmax` and `argmin` return the index of the maximum and minimum values in the array.

argmax()

a.argmin()

## Indexing / Slicing

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

Use negatives to count from the back.

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

Let's look at a multidimensional array.

Use bracket notation to slice: `array[row, column]`

And use : to select a range of rows or columns

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

This is a slice of the last row, and only every other element.

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [ ]:
r[r>30] = 100

In [ ]:
r

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
# r2 = 0

Set this slice's values to zero ([:] selects the entire array)

`r` has also been changed!

In [ ]:
r

To avoid this, use `r.copy` to create a copy that will not affect the original array

Now when r_copy is modified, r will not be changed.

### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.


Iterate by row:


Iterate by index:

Iterate by row and index:

Use `zip` to iterate over multiple iterables.