# Zen of python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# The Python Programming Language: Types and Sequences

Use `type` to return the object's type.

In [3]:
x = 3
type(x)

int

# The Python Programming Language: Functions

`add_numbers` is a function that takes two numbers and adds them together.

In [9]:
def add_numbers(x, y):
    return x+y

In [10]:
add_numbers(2,3)

5

Try calling the function using strings

In [11]:
add_numbers('a','b')

'ab'

Now using a 3rd parameter

In [67]:
#add_numbers(1,2,3)

Support an additional parameter

In [14]:
def add_numbers(x, y, z):
    return x+y+z

In [15]:
add_numbers(1,2,3)

6

In [20]:
def add_numbers(x,y,z=0):
    return x+y+z

In [19]:
add_numbers(1,2)

5

`add_numbers` updated to take an optional flag parameter. Using `print` allows printing of multiple expressions within a single cell.

In [87]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print('Flag is true')
    if not z:
        return x+y
    else:
        return x+y+z

#ergebnis = add_numbers(10.0,5, flag=True,z=10)
#add_numbers(2, 'a', 0, True)
#2 + 'a'
#'hallo ' + 'welt'
add_numbers('2','a')
#add_numbers(2,3,2,True)
#ergebnis = add_numbers(2,3,flag=True,z=100)

#add_numbers('a','b', flag=True)

'2a'

In [68]:
#add

In [67]:
type(add_numbers)

function

In [68]:
func = add_numbers
func(1,2,3)

6

In [69]:
#add_numbers(1)

In [23]:
add_numbers(2,3)

In [24]:
add_numbers(1,2,3,4)

Assign function `add_numbers` to variable `a`.

In [100]:
def add_n(x,y):
    z = 0
    if x > 0:
        z = x+y
    print('hallo')
    return z

In [98]:
add_n(0,2)

hallo

0

# Tuples & Lists

## Lists
Lists are a mutable data structure.

In [22]:
neue_liste = ['a', 2]

In [9]:
liste = []

In [10]:
liste

[]

Use `append` to append an object to a list.

In [12]:
liste.append('a')

In [13]:
liste

['a', 'a']

In [14]:
liste = [1, 'a', 2, 'b']
liste

[1, 'a', 2, 'b']

In [18]:
liste[3] = 3

In [19]:
liste

[1, 'a', 2, 3]

In [20]:
liste[0:3]

[1, 'a', 2]

This is an example of how to loop through each item in the list.

In [21]:
# for (int x = 0; x++) liste[i]
for item in liste:
    print(item * 2)

2
aa
4
6

**len()** Für die Anzahl der Einträge

In [23]:
len(liste)

4

Or using the indexing operator:

In [25]:
i = 0
while i!=len(liste):
    print(liste[i])
    i =i+1

1
a
2
3

Use `+` to concatenate lists.

In [28]:
liste = [1,2] + [3] + [4,5,6]

In [29]:
liste = liste + [1,2] + [3,4]
liste

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4]

Use `*` to repeat lists.

In [32]:
doppelt = liste * 2
doppelt

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4]

Use the `in` operator to check if something is inside a list.

In [34]:
# string contains value?
'al' in 'hallo'

True

In [35]:
3 in doppelt

True

In [37]:
number = 3
number in liste

True

Ab der dritten Stelle bis zum Ende

In [38]:
liste[2:]

[3, 4, 5, 6, 1, 2, 3, 4]

Von 2ter bis 5ter stelle

In [42]:
liste

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4]

In [46]:
sliced = liste[1:4]
sliced

[2, 3, 4]

Jedes Element in sliced mal 2 rechnen. Ergebnis = [6, 8, 10, 12]

In [44]:
sliced * 2

[2, 3, 4, 2, 3, 4]

In [47]:
result = []
for item in sliced:
    result.append(item * 2)
result

[4, 6, 8]

Python way = List comprehension

In [50]:
result = [item * 2 for item in sliced if item > 3]
result

[8]

## Tuples

In [51]:
t = (1, 'cat')

In [52]:
t

(1, 'cat')

In [54]:
fish = (1,2, 'red', 'blue')
fish[:2]

(1, 2)

In [55]:
'red' in fish

True

In [56]:
element = 'bottle'
t_1 = 1,2,element
t_1

(1, 2, 'bottle')

In [57]:
shopping_t = 'pancakes', 'beer', 'sushi'
x, y, z = shopping_t

In [61]:
x, y

('pancakes', 'beer')

In [62]:
x,y =y,x

In [63]:
x,y

('beer', 'pancakes')

In [66]:
def val():
    return True, 10
success, value = val()
if success:
    print(value * 100)

1000

## Strings
Now let's look at strings. Use bracket notation to slice a string.

In [101]:
letter = "This is a string"

In [102]:
letter

'This is a string'

In [112]:
print(letter[0])
# this is called slicing
print(letter[0:2])
print(letter[0:4])
print(letter[-1])

T
Th
This
g

In [110]:
print(letter[0:2])
# if reading from beginning we can omit '0'
print(letter[:2])

Th
Th

In [111]:
letter[2:6]

'is i'

This will return the last element of the string.

In [120]:
letter[-1:]

'g'

### This is a slice from the beginning of the string and stopping before the 3rd element.

In [127]:
print(letter)
print(letter[::3])

This is a string
Tss rg

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [129]:
letter[3:]

's is a string'

**Concatenate**

In [133]:
firstname = 'Michael'
lastname ='Gruber'
fullname = firstname + ', ' + lastname
fullname

'Michael, Gruber'

`in` operator also with strings

In [137]:
if fullname[0:7] == 'Michael':
    print('Michael is here')

Michael is here

In [140]:
# Using in operator
if 'Michael' in fullname:
    print('Yes it is there')

Yes it is there

In [141]:
if 'Gruber' in fullname:
    print('yes')

yes

`split` returns a list of all the words in a string, or a list split on a specific character.

In [144]:
print(fullname)
names = fullname.split(',')
names

Michael, Gruber

['Michael', ' Gruber']

In [146]:
print(names[0])
print(names[1].strip())

Michael
Gruber

Make sure you convert objects to strings before concatenating.

Python has a built in method for convenient string formatting.

In [147]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']
                             ))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [153]:
name = 'Marie'
greeting = 'Hello {}'
# for every curly bracket we need a value
greeting.format(name)

'Hello Marie'

## Dictionary (aka hashtable)

In [75]:
person = {}
person = { 'Name': 'Mitch', 'Mail': 'mitch@mail.com', 'Beard':True}

In [76]:
person

{'Name': 'Mitch', 'Mail': 'mitch@mail.com', 'Beard': True}

In [77]:
person['Name']

'Mitch'

In [78]:
person['Name'] = 'Mike'

In [79]:
person['Name']

'Mike'

In [80]:
person['ShoeColour'] = 'white'

In [82]:
person['height'] = 1.80

In [85]:
person['items'] = ['shirt', 'laptop', 'phone']
person['items']

['shirt', 'laptop', 'phone']

Iterate over all of the keys:

In [88]:
for key in person:
    print(key)

Name
Mail
Beard
ShoeColour
height
items

Iterate over all of the values:

In [92]:
for key in person:
    print('Key: ' + key + ' equals ' + str(person[key]))

Key: Name equals Mike
Key: Mail equals mitch@mail.com
Key: Beard equals True
Key: ShoeColour equals white
Key: height equals 1.8
Key: items equals ['shirt', 'laptop', 'phone']

Iterate over all of the items in the list:

In [93]:
person.items()

dict_items([('Name', 'Mike'), ('Mail', 'mitch@mail.com'), ('Beard', True), ('ShoeColour', 'white'), ('height', 1.8), ('items', ['shirt', 'laptop', 'phone'])])

In [95]:
shopping_list ={'apples':2, 'avocados':10, 'beer':20}
shopping_list['beer'] = 20 * 10

In [96]:
shopping_list

{'apples': 2, 'avocados': 10, 'beer': 200}

In [97]:
shopping_list['shower gel'] = 'axe'

In [98]:
shopping_list

{'apples': 2, 'avocados': 10, 'beer': 200, 'shower gel': 'axe'}

## Unpacking

You can unpack a sequence into different variables:

In [ ]:
def values():
    return 1,2

Make sure the number of values you are unpacking matches the number of variables being assigned.

# Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
!cat class_mpg.csv

In [ ]:
import csv

In [ ]:
with open('class_mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

`keys` gives us the column names of our csv.

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

Similarly this is how to find the average hwy fuel economy across all cars.


Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [ ]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

#CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

In [ ]:
vehicleclass = set([row['class'] for row in mpg])
vehicleclass

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

# The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

Convert the timestamp to datetime.

Handy datetime attributes:

`timedelta` is a duration expressing the difference between two dates.

`date.today` returns the current local date.


# The Python Programming Language: Objects and map()

An example of a class in python:

In [ ]:
new_list = [2,3]
new_list.append()
new_list

In [2]:
class Person:
    department = "School"
    
    def set_name(self, new_name):
        self.name = new_name
    def say_name(self):
        print(self.name)

In [22]:
student_new = Person()

In [6]:
# Wir instanzieren ein objekt vom Typ Person
student_mitch = Person()

In [7]:
student_mitch.set_name('Mitch')

In [8]:
student_mitch.name

'Mitch'

In [9]:
student_super_man = Person()
student_super_man.set_name('Superman')
student_super_man.name

'Superman'

In [11]:
student_mitch.department = 'university'

In [12]:
student_mitch.department

'university'

In [13]:
student_mitch.say_name()

Mitch

In [44]:
class Player:
    def __init__(self, name):
        self.name = name
        
    def set_weapon(self, weapon):
        self.weapon = weapon
        
class Game:
    # Wir haben hier einen constraint erstellt. Die Klasse muss immer aus 2 Playern bestehen
    # __init__ Constructor
    def __init__(self, player_one, player_two):
        self.player_one = player_one
        self.player_two = player_two
        
    def evaluate(self):
        if player_one.weapon == 's': 
            print('player one wins')
        else:
            print('player two wins')

In [37]:
player_one = Player('Mitch')
player_one.set_weapon('paper')

player_two = Player('Moh')
player_one.set_weapon('stone')


game = Game(player_one, player_two)

In [38]:
game.evaluate()

player two wins

In [39]:
# Wir modifizieren den internet state von player_one
player_one.set_weapon('s')

In [40]:
game.evaluate()

player one wins

In [41]:
player_one.set_weapon('antoher weapon')
game.evaluate()

player two wins

In [5]:
# alternative deklarierung von properties und methon in einer Klasse mit @property annotation 
class CPlayer:
    def __init__(self, name):
        self.name = name
    
    @property
    def weapon(self):
        return self.__weapon
    
    @weapon.setter
    def weapon(self, weapon):
        self.__weapon = weapon
playermoh = CPlayer('moh')
playermoh.weapon = 'paper'
playermoh.weapon

'paper'

In [6]:
languages = ["python", "perl", "java", "c++"]
sizes = []
for item in languages:
    sizes.append(len(item))
sizes

[6, 4, 4, 3]

In [8]:
[len(item) for item in languages]

[6, 4, 4, 3]

In [31]:
list(map(len, languages))

[6, 4, 4, 3]

In [33]:
# useful if list has a lot of entries and I don't want to evaluate each at the same time
m = map(len, languages)
# evaluate each item
#next equals one iteration in a for loop
#next(m)

In [10]:
for item in map(len, languages): # results in iter / generator
    print(item)

6
4
4
3

Here's an example of mapping the `min` function between two lists.

Now let's iterate through the map object to see the values.

# The Python Programming Language: Lambda and List Comprehensions

Here's an example of lambda that takes in three parameters and adds the first two.

Let's iterate from 0 to 999 and return the even numbers.

In [42]:
numbers = list(range(0,1000))
even_numbers = []
for item in numbers:
    if item % 2 == 0:
        even_numbers.append(item)
even_numbers

Now the same thing but with list comprehension.

In [ ]:
numbers = list(range(0,1000))
[num for num in numbers if num % 2 == 0]

In [48]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [50]:
# useful if the list of items is huge and filter operation takes some time
filter(is_even, numbers)

In [56]:
values = ['1.0', '2.3', '-5.0']
[float(value) for value in values]

[1.0, 2.3, -5.0]

# The Python Programming Language: Numerical Python (NumPy)

In [58]:
import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

In [59]:
my_list = [1,2,3]
np_array = np.array(my_list)
np_array

array([1, 2, 3])

Or just pass in a list directly

In [60]:
y = np.array([1,2,3])
y

array([1, 2, 3])

Pass in a list of lists to create a multidimensional array.

In [63]:
[[7,8,9],[10,11,12]]

[[7, 8, 9], [10, 11, 12]]

In [62]:
m = np.array([[7,8,9],[10,11,12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

Use the shape method to find the dimensions of the array. (rows, columns)

In [67]:
m.shape

(2, 3)

`arange` returns evenly spaced values within a given interval.

In [80]:
n = np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [81]:
n.shape

(15,)

`reshape` returns an array with the same data with a **new shape**.

In [83]:
n = n.reshape(3,5) # 3x5 = 15
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

`linspace` returns evenly spaced numbers over a specified interval.

In [78]:
o = np.linspace(0,4,9) # 9 evenly spaced values from 0 to 4
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

`resize` changes the shape and size of array **in-place**.

In [79]:
o.resize(3,3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

`ones` returns a new array of given shape and type, filled with ones.

In [84]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

`zeros` returns a new array of given shape and type, filled with zeros.

In [85]:
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [86]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

`diag` extracts a diagonal or constructs a diagonal array.

In [87]:
y

array([1, 2, 3])

In [88]:
np.diag(y)

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

Create an array using repeating list (or see `np.tile`)

In [90]:
np.array([1,2,3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

Repeat elements of an array using `repeat`.

In [91]:
np.repeat([1,2,3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

#### Combining Arrays

In [97]:
p = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [98]:
p * 2

array([[2, 2, 2],
       [2, 2, 2]])

Use `vstack` to stack arrays in sequence vertically (row wise).

In [99]:
np.vstack([p, p *2])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

Use `hstack` to stack arrays in sequence horizontally (column wise).

In [100]:
np.hstack([p, p *2])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [101]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [102]:
x+y

array([5, 7, 9])

In [103]:
x * y

array([ 4, 10, 18])

In [104]:
x / y

array([0.25, 0.4 , 0.5 ])

In [105]:
x ** 3

array([ 1,  8, 27], dtype=int32)

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [107]:
x.dot(y) # 1*4 + 2* 5 + 3* 6

32

In [109]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [110]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

The shape of array `z` is `(2,3)` before transposing.

In [111]:
z.shape

(2, 3)

Use `.T` to get the transpose.

In [114]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])


The number of rows has swapped with the number of columns.

In [113]:
z.T.shape

(3, 2)

Use `.dtype` to see the data type of the elements in the array.

In [116]:
z.dtype

dtype('int32')

Use `.astype` to cast to a specific type.

In [117]:
z.astype('f')

array([[ 4.,  5.,  6.],
       [16., 25., 36.]], dtype=float32)

## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [118]:
a = np.array([-4, -2, 1, 3, 5])

Sum

In [119]:
a.sum()

3

Max

In [120]:
a.max()

5

Min

In [121]:
a.min()

-4

Mean

In [122]:
a.mean()

0.6

Std

In [123]:
a.std()

3.2619012860600183

`argmax` and `argmin` return the index of the maximum and minimum values in the array.

argmax()

In [125]:
a[4]

5

In [124]:
a.argmax()

4

a.argmin()

In [126]:
a.argmin()

0

## Indexing / Slicing

In [127]:
s = np.arange(13) ** 2 
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [128]:
s[0]

0

In [129]:
s[4], s[-1], s[3]

(16, 144, 9)

Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [130]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

Use negatives to count from the back.

In [131]:
s[-2]

121

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [132]:
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

Let's look at a multidimensional array.

In [138]:
r = np.arange(36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

Use bracket notation to slice: `array[row, column]`

In [139]:
r[2,2]

14

And use : to select a range of rows or columns

In [144]:
r[3, :]

array([18, 19, 20, 21, 22, 23])

In [143]:
x = r[3,:]
x[3:6]

array([21, 22, 23])

**Homework**

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

This is a slice of the last row, and only every other element.

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [146]:
r > 30

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False,  True,  True,  True,  True,  True]])

In [147]:
r[r>30]

array([31, 32, 33, 34, 35])

In [148]:
r[r>30] = 100

In [149]:
r

array([[  0,   1,   2,   3,   4,   5],
       [  6,   7,   8,   9,  10,  11],
       [ 12,  13,  14,  15,  16,  17],
       [ 18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29],
       [ 30, 100, 100, 100, 100, 100]])

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [157]:
r[:] # equal to r

array([[  0,   1,   2,   3,   4,   5],
       [  6,   7,   8,   9,  10,  11],
       [ 12,  13,  14,  15,  16,  17],
       [ 18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29],
       [ 30, 100, 100, 100, 100, 100]])

In [156]:
r2 = r[:2,:]

Set this slice's values to zero ([:] selects the entire array)

In [159]:
r2[:] = 0

In [ ]:
# NOT Equal to:
# r2 = 0, r2 ='abcd'

In [161]:
r2

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

`r` has also been changed!

In [162]:
r

array([[  0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0],
       [ 12,  13,  14,  15,  16,  17],
       [ 18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29],
       [ 30, 100, 100, 100, 100, 100]])

To avoid this, use `r.copy` to create a copy that will not affect the original array

In [163]:
r_copy = r.copy()
r_copy

array([[  0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0],
       [ 12,  13,  14,  15,  16,  17],
       [ 18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29],
       [ 30, 100, 100, 100, 100, 100]])

Now when r_copy is modified, r will not be changed.

In [165]:
r_copy

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [164]:
r_copy[:] = 0
r

array([[  0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0],
       [ 12,  13,  14,  15,  16,  17],
       [ 18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29],
       [ 30, 100, 100, 100, 100, 100]])

### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.


Iterate by row:


Iterate by index:

Iterate by row and index:

Use `zip` to iterate over multiple iterables.