# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
df.ID.unique()

array(['AFG', 'ALG', 'ARG', 'ARM', 'ANZ', 'AUS', 'AUT', 'AZE', 'BAH',
       'BRN', 'BAR', 'BLR', 'BEL', 'BER', 'BOH', 'BOT', 'BRA', 'BWI',
       'BUL', 'BDI', 'CMR', 'CAN', 'CHI', 'CHN', 'COL', 'CRC', 'CIV',
       'CRO', 'CUB', 'CYP', 'CZE', 'TCH', 'DEN', 'DJI', 'DOM', 'ECU',
       'EGY', 'ERI', 'EST', 'ETH', 'FIN', 'FRA', 'GAB', 'GEO', 'GER',
       'EUA', 'GDR', 'FRG', 'GHA', 'GBR', 'GRE', 'GRN', 'GUA', 'GUY',
       'HAI', 'HKG', 'HUN', 'ISL', 'IND', 'INA', 'IRI', 'IRQ', 'IRL',
       'ISR', 'ITA', 'JAM', 'JPN', 'KAZ', 'KEN', 'PRK', 'KOR', 'KUW',
       'KGZ', 'LAT', 'LIB', 'LIE', 'LTU', 'LUX', 'MKD', 'MAS', 'MRI',
       'MEX', 'MDA', 'MGL', 'MNE', 'MAR', 'MOZ', 'NAM', 'NED', 'AHO',
       'NZL', 'NIG', 'NGR', 'NOR', 'PAK', 'PAN', 'PAR', 'PER', 'PHI',
       'POL', 'POR', 'PUR', 'QAT', 'ROU', 'RUS', 'RU1', 'URS', 'EUN',
       'KSA', 'SEN', 'SRB', 'SCG', 'SIN', 'SVK', 'SLO', 'RSA', 'ESP',
       'SRI', 'SUD', 'SUR', 'SWE', 'SUI', 'SYR', 'TPE', 'TJK', 'TAN',
       'THA', 'TOG', 'TGA', 'TRI', 'TUN', 'TUR', 'UGA', 'UKR', 'UAE',
       'USA', 'URU', 'UZB', 'VEN', 'VIE', 'ISV', 'YUG', 'IOP', 'ZAM',
       'ZIM', 'ZZX'], dtype=object)

In [4]:
str(df.ID[df.Gold == df.Gold.max()])[:13]

'United States'

In [5]:
df.groupby(['ID','Gold']).max()

,,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
ID,Gold,,,,,,,,,,,,,,
AFG,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2
AHO,0,13,1,0,1,2,0,0,0,0,15,0,1,0,1
ALG,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15
ANZ,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12
ARG,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VIE,0,14,2,0,2,0,0,0,0,0,14,0,2,0,2
YUG,26,16,29,28,83,14,0,3,1,4,30,26,32,29,87
ZAM,0,12,1,1,2,0,0,0,0,0,12,0,1,1,2
ZIM,3,12,4,1,8,1,0,0,0,0,13,3,4,1,8
ZZX,8,3,5,4,17,0,0,0,0,0,3,8,5,4,17

In [6]:
def answer_one():
    return str(df.ID[df.Gold == df.Gold.max()])[:13]

In [7]:
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [9]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [10]:
diff_df = df.copy()

diff_df['Gold_diff'] = diff_df['Gold'] - diff_df['Gold.1']

In [11]:
diff_df[diff_df.Gold_diff == diff_df.Gold_diff.max()].index

Index(['United States'], dtype='object')

In [27]:
diff_df[diff_df.Gold_diff == diff_df.Gold_diff.max()]['ID'].values[0]

'USA'

In [29]:
def answer_two():
    diff_df = df.copy()

    diff_df['Gold_diff'] = diff_df['Gold'] - diff_df['Gold.1']
    return diff_df[diff_df.Gold_diff == diff_df.Gold_diff.max()]['ID'].values[0]

In [30]:
answer_two()

'USA'

In [41]:
df2 = df.copy()

df2 = df2[(df2.Gold >= 1) & (df2['Gold.1'] >=1)]

df2.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL

In [44]:
df2['weighted']= (df2.Gold - df2['Gold.1'])/df2['Gold.2']

df2[df2.weighted == df2['weighted'].max()]['ID'].values[0]

'BUL'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [46]:
def answer_three():
    df2 = df.copy()

    df2 = df2[(df2.Gold >= 1) & (df2['Gold.1'] >=1)]

    df2['weighted']= (df2.Gold - df2['Gold.1'])/df2['Gold.2']
    return df2[df2.weighted == df2['weighted'].max()]['ID'].values[0]

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [48]:
diff_df['Points']=diff_df['Gold.2']*3+diff_df['Silver.2']*2+diff_df['Bronze.2']

df3 = diff_df[['Points', 'Gold.2', 'Silver.2','Bronze.2']]

In [50]:
ser1 = pd.Series(df3['Points'])
ser1
#type(ser1)

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

In [51]:
def answer_four():
    diff_df = df.copy()
    diff_df['Points']=diff_df['Gold.2']*3+diff_df['Silver.2']*2+diff_df['Bronze.2']

    df3 = diff_df[['Points', 'Gold.2', 'Silver.2','Bronze.2']]
    ser1 = pd.Series(df3['Points'])
    return ser1

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [52]:
census_df = pd.read_csv('census.csv')
census_df.head(10)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901

In [62]:
#census_df['num'] = 1

census_df[census_df.SUMLEV > 40]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,num
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,1
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,1
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,1
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,1
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,1
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,1
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,1
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,1
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,1

In [59]:
census_df.groupby(['STNAME'])['num'].sum().sort_values(ascending=False).index.values[0]

'Texas'

In [65]:
def answer_five():

    census_df['num'] = 1
    return census_df.groupby(['STNAME'])['num'].sum().sort_values(ascending=False).index.values[0]

answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [66]:
df4 = census_df[census_df.SUMLEV > 40]

In [67]:
df4 = df4.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
df4

STNAME
Alabama    37      658466
           49      412992
           45      334811
Alaska     71      291826
           76       97581
                    ...
Wisconsin  3109    488073
           3164    389891
Wyoming    3180     91738
           3182     75450
           3172     46133
Name: CENSUS2010POP, Length: 151, dtype: int64

In [72]:
list(df4.groupby('STNAME').sum().sort_values(ascending=False).index.values[:3])

['California', 'Texas', 'Illinois']

In [73]:
def answer_six():
    df4 = census_df[census_df.SUMLEV > 40]
    df4 = df4.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    return list(df4.groupby('STNAME').sum().sort_values(ascending=False).index.values[:3])

answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [74]:
census_df2 = census_df[census_df['SUMLEV'] == 50]

In [75]:
census_df2['max'] =  census_df2[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis = 1)
census_df2['min'] =  census_df2[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis = 1)
census_df2['diff'] = census_df2['max'] - census_df2['min']

In [76]:
census_df2.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,num,max,min,diff
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-2.530799,7.606016,-2.626146,-2.722002,2.59227,-2.187333,1,55347,54660,687

In [79]:
census_df2[['COUNTY','STNAME','CTYNAME','diff']].sort_values(by='diff', ascending=False)['CTYNAME'].values[0]

'Harris County'

In [80]:
def answer_seven():
    census_df2 = census_df[census_df['SUMLEV'] == 50]
    census_df2['max'] =  census_df2[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis = 1)
    census_df2['min'] =  census_df2[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis = 1)
    census_df2['diff'] = census_df2['max'] - census_df2['min']
    return census_df2[['COUNTY','STNAME','CTYNAME','diff']].sort_values(by='diff', ascending=False)['CTYNAME'].values[0]

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [84]:
census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) & (census_df['CTYNAME'].str.contains('Washington')) & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014'])][['STNAME', 'CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [81]:
def answer_eight():
    return census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) & (census_df['CTYNAME'].str.contains('Washington')) & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014'])][['STNAME', 'CTYNAME']].sort_index()

In [82]:
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County